<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="firstname">
	<f:translate key="tx_webuser_domain_model_users.firstname" />
</label><br />
	<f:form.textfield property="firstname" /><br />
<label for="lastname">
	<f:translate key="tx_webuser_domain_model_users.lastname" />
</label><br />
	<f:form.textfield property="lastname" /><br />
<label for="email">
	<f:translate key="tx_webuser_domain_model_users.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="bio">
	<f:translate key="tx_webuser_domain_model_users.bio" />
</label><br />
	<f:form.textarea property="bio" cols="40" rows="15" /><br />
</html>