
<table class="tx-webuser" >
	<tr>
		<td>
			<f:translate key="tx_webuser_domain_model_users.firstname" />
		</td>
		<td>
			{users.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_webuser_domain_model_users.lastname" />
		</td>
		<td>
			{users.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_webuser_domain_model_users.email" />
		</td>
		<td>
			{users.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_webuser_domain_model_users.bio" />
		</td>
		<td>
			{users.bio}
		</td>
	</tr>
</table>